{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Latest Recipes</h1>
    <p class="text-center">What will you make today?</p>
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="container {{ message.tags }}" {% endif %} role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Display Recent Recipes  -->
    <div class="container">
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card d-flex flex-column h-100">
                        <a href="{% url 'recipe_detail' recipe.id %}" class="link-light text-decoration-none">
                            <h5 class="card-header custom-bg-light-orange">📄 {{ recipe.title }}</h5>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.content }}</h5>
                            <br>
                            {% if recipe.has_ratings %}
                                <p>Rating: {{ recipe.avg_rating }}</p>
                            {% else %}
                                <p>No Ratings</p>
                            {% endif %}              
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Posted by <a href="profile/{{recipe.author}}" class="link-dark">{{ recipe.author }}</a> on {{ recipe.date }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
