{% extends 'base.html' %}

{% block content %}
<div class=container>
<h1>{{ recipe.title }}</h1>

{% if average_rating %}
<p class="rate-detail">
  <span style="color: black; font-size: 18px">
    Rating: {{ average_rating }}
    </span>
  {% for _ in full_stars %}
  <span class="star">★</span>
  {% endfor %} {% for _ in empty_stars %}
  <span class="star">☆</span>
  {% endfor %}
</p>
{% else %}
<p>No Ratings</p>
{% endif %}

<div style="margin-bottom: 25px;" class="recipe-content">
  <p style="margin-bottom: 0px;"><b>Description</b></p>
  <p style="margin-top: 0px;">{{ recipe.content|linebreaksbr }}</p>
</div>

<div style="margin-bottom: 25px;" class="recipe-content">
  <p style="margin-bottom: 0px;"><b>Instructions:</b></p>
  <p style="margin-top: 0px;">{{ recipe.instructions|linebreaksbr }}</p>
</div>

<div  style="margin-bottom: 25px;" class="recipe-content">
<p style="margin-bottom: 0px;"><b>Ingredients:</b></p>
<ul>
    {% for ingredient in ingredients %}
        <li>
          {{ ingredient.ingredient.name }} - {{ ingredient.quantity }}
          {% if ingredient.ingredient.calories == 0 and ingredient.ingredient.protein == 0 and ingredient.ingredient.fat == 0 and ingredient.ingredient.carbohydrates == 0 %}
            <span style="font-size: 10px; color: red;">This ingredient has no nutrition data available.</span>
          {% endif %}
        </li>
    {% endfor %}
</ul>
</div>

<div style="margin-bottom: 25px;">
<div style="padding-bottom: 0px; margin: 0px;">
  <b>Nutrition Information</b>
      <p style="font-size: 12px; margin-bottom: 0px;"><span style="font-weight: bold; color:red">Note</span>: Nutritional data could be missing or inaccurate due to Edamam API</p>
</div>

  <div class="nutrition-info">
    <ul>
    <li><b>Total Calories</b>: {{ total_nutrition.total_calories }} kcal</p></li>
    <li><b>Total Protein</b>: {{ total_nutrition.total_protein }} g</li>
    <li><b>Total Fat</b>: {{ total_nutrition.total_fat }} g</li>
    <li><b>Total Carbohydrates</b>: {{ total_nutrition.total_carbohydrates }} g</li>
    </ul>
  </div>
</div>

<div style="margin-bottom: 25px;" class="row">
  <div class="col-md-1">
    {% if recipe.author.profile.avatar %}
      <img class="img-rounded" style="max-width: 100px" src="{{ recipe.author.profile.avatar.url }}" alt="Avatar" />
    {% endif %}
  </div>
  <div class="col-md-9 d-flex align-items-center">
    <p><br><i>Created by <a href="../../profile/{{recipe.author}}" class="link-dark">{{ recipe.author }}</a>
        <br>{{ recipe.date }}
      </i>
    </p>
  </div>
</div>


  {% if user.is_authenticated %}
  <div class="rate-recipe">
    <form method="post" action="{% url 'rate_recipe' recipe.id %}" onsubmit="return validateRating()"> 
      {% csrf_token %}
      <label for="rating"><b>Rate this recipe</b>:</label>
      <div class="row align-items-center mx-0 mt-2 mb-2">
          <div class="col-1 mx-0"> <!-- Adjust the column width as needed -->
              <select class="form-control form-control-sm mx-0" id="rating" name="rating" type="number">
                  <option value="" disabled selected>↓ Select ↓</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
          </div>
          <div class="col mx-0">
              <button style="margin-left: 10px;" type="submit" class="btn btn-primary btn-sm mx-0">Submit Rating</button>
          </div>
      </div>
  </form> 
</div>
  {% endif %}
  
  <p>Total Ratings: {{ recipe.rating_set.count }}</p>

<div style="margin-top: 25px;" class="print">
<button class="btn btn-info" onclick="printRecipe()">Print Recipe</button>
</div>
</div>

<script>
  function printRecipe() {
    window.print();
  }
  
  function validateRating() {
    var rating = document.getElementById("rating").value;
    if (rating === "") {
        alert("Please select a rating.");
        return false;
    }
    return true;
  }
  </script>

{% endblock content %}
