{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <h2>Submit a Recipe</h2>
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success" role="alert">
              {{ message }}
          </div>
      {% endfor %}
  {% endif %}
  <form method="post" action="{% url 'recipe-submit' %}" class="mt-4">
      {% csrf_token %}
      <div class="row">
          <div class="col-md-6 mb-3">
              <label for="id_title" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" id="id_title">
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 mb-3">
              <label for="id_content" class="form-label">Content</label>
              <textarea class="form-control" name="content" id="id_content" rows="5"></textarea>
          </div>
      </div>
      <!-- Add other form fields as needed -->
      <div id="ingredients-formset">
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_table }}
        {% endfor %}
    </div>
    <button type="button" id="add-ingredient">Add Ingredient</button><br><br>

      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const formsetPrefix = '{{ formset.prefix }}';
        const ingredientsFormset = document.getElementById('ingredients-formset');
        const addIngredientButton = document.getElementById('add-ingredient');
        let formsetIndex = {{ formset.total_form_count }};
    
        addIngredientButton.addEventListener('click', function () {
            const newForm = document.createElement('div');
            newForm.innerHTML = '{% escapejs formset.empty_form %}'.replace(/__prefix__/g, formsetIndex);
            ingredientsFormset.appendChild(newForm);
            formsetIndex++;

            var formCount = document.querySelectorAll('[name^="recipeingredient_set-"]').length;
            document.querySelector('[name="recipeingredient_set-TOTAL_FORMS"]').value = formCount;
        });
    });
</script>

{% endblock %}
